<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">IMDB Clone</a>
        <div class="navbar-nav ms-auto" id="navButtons">
            <!-- Buttons will be dynamically rendered here -->
        </div>
    </div>
</header>
